body {
    font-family: 'ZCOOL KuaiLe', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    font-size: 50px;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.28);
}

.login-button {
    margin-left: auto;
}

.login-button a {
    background-color: #4CAF50;
    color: white;
}

.login-button a:hover {
    background-color: #45a049;
}

.hero-image {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.7; 
    display: block;
}

.hero-text {
    position: absolute;
    top: 15%;
    left: 10%; 
    right: 10%; 
    color: orange;
    text-align: center; 
    font-size: 40px; 
    line-height: 1.5; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}



.hero-section {
    position: relative;
    text-align: center;
    height: 100vh; 
}


footer {
    background-color: #1f1f1f;
    color: #999; 
    padding: 40px 0; 
    text-align: center;
    width: 100%;
}

.footer-container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links, .footer-social {
    display: flex;
    justify-content: center;
    gap: 250px; 
    margin-bottom: 20px;
}

.footer-links a, .footer-social a {
    color: #999;
    text-decoration: none;
    font-size: 30px;
}

.footer-links a:hover, .footer-social a:hover {
    color: #fff; 
}

footer p {
    margin-top: 20px;
    color: #666;
    font-size: 20px;
}

.author-section {
    background-color: wheat; 
    padding: 50px;
    text-align: center;
}

.author-container {
    max-width: 2000px;
    margin: 0 auto;
}

.author-info {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    text-align: left;
}

.author-image {
    width: 500px; 
    object-fit: contain; 
}

.author-text {
    max-width: 1500px; 
}

.author-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: saddlebrown;
}

.author-text p {
    font-size: 30px;
    color: saddlebrown;
    line-height: 1.6;
    text-align: justify;
}

.screenshots-section {
    background-color: burlywood;
    padding: 30px 30px;
    text-align: center;
}

.screenshots-container {
    margin: 0 auto;
}

.screenshots {
    display: flex; 
    justify-content: center; 
    gap: 50px; 
}

.screenshot {
    width: 600px; 
    height: 600px;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.screenshots-container h2 {
    color: saddlebrown;
}

.ShowShop-section {
    background-color: sandybrown;
    padding: 30px 30px;
    text-align: center;
}

.ShowShop-container {
    margin: 0 auto;
}

.ShowShops {
    display: flex; 
    justify-content: center; 
    gap: 50px; 
}

.ShowShop {
    width: 600px;
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.ShowShop-container h2 {
    color: saddlebrown;
}

.characters-section {
    background-image: url('./img/bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    padding: 50px 10px;
    text-align: center;
}

.characters-container {
    width: 75%; 
    margin: 0 auto;
}

.characters-container h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.characters-grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 0 20px; 
    margin-top: 150px;
}

.character-card {
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.character-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.character-card h3 {
    color: saddlebrown;
    font-size: 40px;
    margin-bottom: 20px;
}


.character-card p {
    color: saddlebrown;
    font-size: 30px;
    line-height: 1.6;
}

.search-form {
    position: relative;
    top: 200px;
    left: 200px;
    width: calc(100% - 400px); 
    display: flex;
    justify-content: center;
}

.search-form input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #45a049;
}

.items-section {
    background-image: url('./img/bg.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
}

.main-grid {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px;
    margin: 100px auto; 
    padding: 0 20px; 
}

.category-grid {
    padding: 20px;
    background-color:burlywood;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-grid h2 {
    margin-bottom: 15px;
    color: saddlebrown;
}

.items-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
}

.item-card {
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 15px;
}

.shop-section {
    background-image: url('./img/bg.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 50px;
    text-align: center;
}

.shop-grid {
    width: 75%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px;
    margin: 100px auto; 
    padding: 0 20px; 
    color: saddlebrown;
}

.product-card {
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    display: flex; 
    justify-content: left; 
    gap: 50px; 
    align-items: center
}

.product-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card h3, .product-card p {
    margin: 20px 0;
    color: saddlebrown;
    font-size: 50px;
}

.product-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.add-to-cart,
.decrease-in-grid,
.increase-quantity,
.decrease-quantity {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.decrease-in-grid,
.decrease-quantity {
    background-color: #FF6347; 
}

.item-quantity-in-grid {
    font-size: 18px;
}

.cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

.cart-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart-modal-content {
    background-color: wheat;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
}

.cart-modal-content h2, .cart-modal-content p{
    color: saddlebrown;
    font-size: 30px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.item-details p {
    margin: 0;
    color: saddlebrown;
    font-size: 20px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.checkout-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.forum-section {
    background-image: url('./img/bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
}

#posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.post-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

.post-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.post-modal-content {
    background-color: wheat;
    margin: 200px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 400px;
    max-width: 1000px;
    text-align: left;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
textarea{
    height: 150px;
}

.post {
    background-color: wheat;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.post h3 {
    margin-top: 0;
    color: saddlebrown;
}

.post {
    font-style: italic;
    color: wheat;
    margin-top: 10px;
}

.post-modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 300px auto;
    padding: 20px;
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 500px;
}

.login-container input{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container h2{
    color: saddlebrown;
    font-size: 30px;
}

.login-container p{
    color: saddlebrown;
    font-size: 20px;
}

#login-message {
    color: red;
    margin-top: 10px;
}


.account-info-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

#account-info {
    margin-top: 100px;
    text-align: center;
}

.account-info-container button {
    width: 150px; 
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.account-info-container button:hover {
    background-color: #45a049;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 30px 0;
}

p {
    font-size: 40px;
    line-height: 1.6;
    margin: 0 20px; 
    text-align: center;
    color: white;
}

h3 {
    font-size: 30px; 
    font-weight: bold;
    color: saddlebrown;
    text-align: center;
    margin: 30px 0;
}
